<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

<body>
  <%- include('layouts/navbar'); -%>
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Error 404</h1>
            <span class="subheading">Page Not Found.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content for 404 Error -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h2> Are You Lost? </h2>
      </div>
    </div>
  </div>

  <hr>

  <%- include('layouts/footer'); -%>
  <%- include('layouts/scripts'); -%>

</body>

</html>
